.container
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= massage

  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div 
      = f.label :avatar, 'Avatar'
    %div
      = f.file_field :avatar
    %div 
      = f.label :name, 'Name'
    %div
      = f.text_field :name, class: 'text'

    = f.submit '保存', class: 'btn-primary'